@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import '../../node_modules/filepond/dist/filepond.min.css';
@import  '../../node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';
@import '../../public/font/GTWalsheimPro/GTWalsheimPro.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'GT Walsheim Pro', sans-serif;

    --color-zinc-50: var(--color-slate-50);
    --color-zinc-100: var(--color-slate-100);
    --color-zinc-200: var(--color-slate-200);
    --color-zinc-300: var(--color-slate-300);
    --color-zinc-400: var(--color-slate-400);
    --color-zinc-500: var(--color-slate-500);
    --color-zinc-600: var(--color-slate-600);
    --color-zinc-700: var(--color-slate-700);
    --color-zinc-800: var(--color-slate-800);
    --color-zinc-900: var(--color-slate-900);
    --color-zinc-950: var(--color-slate-950);

    --color-accent: var(--color-blue-500);
    --color-accent-content: var(--color-blue-600);
    --color-accent-foreground: var(--color-white);

    --color-danger: var(--color-red-500);
    --color-danger-content: var(--color-red-600);
    --color-danger-foreground: var(--color-white);

}

@layer theme {
    .dark {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-400);
        --color-accent-foreground: var(--color-white);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* Trix Editor */
html.dark {
    .trix-button-row {
        .trix-button-group {
            border-color: #2d3748;

            .trix-button {
                background-color: #b3c4dc;
                border-color: #2d3748;

                &.trix-active {
                    background-color: #6d8ba8;
                }
            }
        }
    }
    trix-editor {
        color: #e2e8f0;
        border: 1px solid #5a6473;
        border-radius: 0.5rem;
    }
}
/* Menyembunyikan file tools */
.trix-button-group.trix-button-group--file-tools {
    display: none;
}

@layer utilities {
    trix-editor {
        border: 1px solid #5a6473;
        border-radius: 0.5rem;
    }

    trix-editor h1 {
        font-size: 1.25rem !important;
        line-height: 1.25rem !important;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    trix-editor a:not(.no-underline) {
        text-decoration: underline;
    }

    trix-editor a:visited {
        color: green;
    }

    trix-editor ul {
        list-style-type: disc;
        padding-left: 1rem;
    }

    trix-editor ol {
        list-style-type: decimal;
        padding-left: 1rem;
    }

    trix-editor pre {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        font-family: monospace;
        font-size: 1.5em;
        padding: 0.5em;
        white-space: pre;
        background-color: #eee;
        overflow-x: auto;
    }

    trix-editor blockquote {
        border: 0 solid #ccc;
        border-left-width: 0px;
        border-left-width: 0.3em;
        margin-left: 0.3em;
        padding-left: 0.6em;
    }

    .dark .fc {
        background-color: var(--color-slate-900);
        color: #f7fafc;
    }
    .dark .fc-toolbar {
        background-color: var(--color-slate-900);
        color: #edf2f7;
    }
    .dark .fc-daygrid-day {
        background-color: #2d3748;
    }
    .dark .fc-daygrid-day-number {
        color: #edf2f7;
    }
    .dark .fc-daygrid-day:hover {
        background-color: #4a5568;
    }
    .dark .fc-daygrid-event {
        background-color: #4c51bf;
    }

   .dark .fc-day-disabled {
        background-color: var(--color-slate-900) !important;
    }

    .dark .fc-multimonth {
        border: 1px solid var(--color-slate-700) !important;
    }

    /* Gaya untuk setiap sel di tabel */
    .dark .fc-multimonth-daygrid-table td {
        border: 1px solid var(--color-zinc-700) !important;
    }

    /* Gaya untuk header tabel jika diperlukan */
    .dark .fc-multimonth-header-table th {
        border: 1px solid var(--color-zinc-700) !important;
    }

    .dark .fc-day-today {
        background-color: #3d4079 !important;
    }
}
